*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/dictionaries/Joonas.xml
app/src/debug/res/values/secrets.xml
.project
.idea/misc.xml
app/google-services.json